/**
* La taille du tableau est ajustée directement lors de la création des colonnes en paramètre
*/
/*div.toggle{
    position:relative;
        width:1235px;
        height:500px;

} */

/*#body{
  overflow-x: scroll;
}*/



