<div class="toggle">
  <!--Ligne ci-dessous à décommenter pour ajouter un filtre général qui s'applique à toutes les colonnes en même temps (relativement long si grosse quantité de données et colonnes) -->
<!--<input #gb type="text" pInputText size="50" placeholder="Filtre général">-->
<!-- unfrozenWidth : distance entre la taille du tableau et la taille de la case frozen (1235-320) -->
<p-growl [(value)]="msgs" life="20000"></p-growl>

<p-dataTable #dt [value]="traces" [rows]="30" [paginator]="true" scrollable="true"  scrollHeight="500px"  scrollWidth="2550px" frozenWidth="340px" unfrozenWidth="2230px"(onFilter)="applyFilter(dt, $event)" selectionMode="single" (onRowSelect)="onRowSelected($event)" ><!--(onFilter)="applyFilter(dt, $event)"-->
    <p-header>
        <div style="text-align:left">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="columns" [maxSelectedLabels]="10" ></p-multiSelect> 
            <button type="button" pButton (click)="update(dt)" label="Reset"></button>
            <p-dialog header="Sélection des sessions" [(visible)]="display" modal="modal" width="400" [responsive]="true">
            <p-listbox #pl [options]="selectOptions"  multiple="multiple" checkbox="checkbox" filter="filter" [style]="{'width':'370px','max-height':'300px'}" (onChange)="onSessionsSelectedChange($event,pl)"></p-listbox>
      
            </p-dialog>
<button type="button" (click)="showDialog(pl)" pButton icon="fa-external-link-square" label="Sélectionner des sessions spécifiques"></button>
<!-- fenetre qui sera affichée quand on sélectionnera une ligne pour afficher les datas -->
<p-dialog header="Datas sélectionnées / Bloc Action relatif à la ligne sélectionnée" [(visible)]="displayData" modal="modal" width="1100" [responsive]="true">

 <!-- <p-dropdown [options]="numberOfLines" [(ngModel)]="selectedNumberOfLine" placeholder="Select a line" (onChange)="displayLine()" width="30px"></p-dropdown>-->
 <select  [(ngModel)]="selectedNumberOfLine">
     <option *ngFor="let line of numberOfLines" value="{{line.value}}"  ngDefaultControl> {{line.value}} </option>
 </select>
  <button pButton type="button" (click)="addLineToAttributeSelection()" label="Ajouter cette ligne à la sélection"></button>
    <li *ngFor="let data of datas"> {{data}}</li>
    <p-dataTable [value]="events" scrollable="true" scrollHeight="200px" resizableColumns="true" columnResizeMode="expand">
        <p-column *ngFor="let column of columnsEvents" [field]="column.field" [header]="column.header" ></p-column>
    </p-dataTable> 
</p-dialog>
<button type="button" pButton icon="fa-file-o" iconPos="left" label="JSON Export" (click)="downloadAndExport()"></button>

        </div>
        
    </p-header>
   <p-column field="sessionId" header="SessionID" [filter]="true" filterMatchMode="contains" [style]="{'width':'340px'}" frozen="true"></p-column>
    <p-column *ngFor="let column of columns" [field]="column.field" [header]="column.header" [filter]="true" filterMatchMode="contains" [style]="{'width':'450px'}" ></p-column>


</p-dataTable>
</div>

<!--<div class="toggle">
<input #gb type="text" pInputText size="50" placeholder="Filtre général">
<p-dataTable [value]="traces"[rows]="30" [paginator]="true" [globalFilter]="gb" scrollable="true"  scrollHeight="500px"  scrollWidth="1235px" frozen="true">
  <p-headerColumnGroup>
   <p-row>
    <p-header>
        <div style="text-align:left">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="columns" [maxSelectedLabels]="10" ></p-multiSelect>
        </div>
    </p-header>
    </p-row>
    <p-row>
      <p-column header="Traces log. & Util."  [style]="{'width':'2880px'}"></p-column>
        <p-column header="Traces logicielles"  [style]="{'width':'960px'}"></p-column>
        <p-column header="Traces Util." [style]="{'width':'1600px'}"></p-column>
        </p-row>
        <p-row>
          <p-column header="sessionId" [style]="{'width':'320px'}"></p-column>
          <p-column header="userName" [style]="{'width':'320px'}"></p-column>
          <p-column header="remoteAdress" [style]="{'width':'320px'}"></p-column>
          <p-column header="agentName" [style]="{'width':'320px'}"></p-column>
          <p-column header="softwareName" [style]="{'width':'320px'}"></p-column>
          <p-column header="softwareRelease" [style]="{'width':'320px'}"></p-column>
          <p-column header="softwareVersion" [style]="{'width':'320px'}"></p-column>
          <p-column header="data" [style]="{'width':'320px'}"></p-column>
          <p-column header="timeStamp" [style]="{'width':'320px'}"></p-column>
          <p-column header="type" [style]="{'width':'320px'}"></p-column>
          <p-column header="className" [style]="{'width':'320px'}"></p-column>
          <p-column header="methodName" [style]="{'width':'320px'}"></p-column>
          <p-column header="event" [style]="{'width':'320px'}"></p-column>
          <p-column header="action" [style]="{'width':'320px'}"></p-column>
          <p-column header="actionTarget" [style]="{'width':'320px'}"></p-column>
          <p-column header="actionTargetClass" [style]="{'width':'320px'}"></p-column>
          <p-column header="actionDetail" [style]="{'width':'320px'}"></p-column>
        </p-row>
        </p-headerColumnGroup>
        <p-column field="sessionId" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="userName" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="remoteAdress" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="agentName" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="softwareName" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="softwareRelease" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="softwareVersion" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="data" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="timeStamp" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="type" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="className" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="methodName" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="event" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="action" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="actionTarget" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="actionTargetClass" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
        <p-column field="actionDetail" [filter]="true" filterMatchMode="contains" [style]="{'width':'320px'}"></p-column>
          


</p-dataTable>
</div>-->