
<!--<app-calendar >Calendar is loading...</app-calendar>-->
<!-- OBLIGATOIRE POUR QUE LA REDIRECTION SOIT EFFECTIVE -->
   <router-outlet></router-outlet>

<!--<app-login-page></app-login-page>-->

<!--<app-test-session> Chargement du component de test de la session </app-test-session>-->
<!--<div *ngIf="values!=null">
  <h2> Liste des utilisateurs de la base de données </h2>
  <li *ngFor="let value of values">
    {{value.firstname}} {{value.lastname}} {{value.id}}
  </li>
  </div>-->

 <!--<div *ngIf="traces!=null">
    <h2> Liste des agentName de la base de données </h2>
    <li *ngFor="let trace of traces">
      {{trace.timeStamp}}
    </li>
    </div>-->

